*{
    margin: 0;
    padding: 0;
    font-size: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 29, 37);
    color: aliceblue;


}

/*
body {
    
    background-color: #0074D9; 
   
    background-image: linear-gradient(to left, #003947, #14b6b6); 
  }
  */
  html{
    scroll-behavior: smooth;
  }

#header{
    width: 100%;
    height: 100vh;
    background-image: url(background_1.png);
    background-size: cover;
    background-position: right;
    
}

.container{
    padding: 10px 10px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    margin-bottom: 20px;
    scroll-margin-block-start: 10px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position:relative;

}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #00ebfc;
    position:absolute;
    left:0px;
    bottom: -2px;
    transition: 0.5s;



}

nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
} 
.header-text h1 span{
    color: #00aeff;
}


/*---------------------------about.............*/

#about{
    padding: 80px 0 ;
    color:azure;

}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    
}


.about-col-1 img{
    width: 100%;
    height: 80%;
  
    border-radius: 15px;
    margin-top: 20px;
   
    
}

.about-col-2{
    width: 100px;
   
    border-radius: 20px;

}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-style: 60px;
    font-weight: 600;
    color: #ffff;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{

    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}


.tab-contents ul li{
    list-style: none;
    margin: 10px 0 ;
}
.tab-contents ul li span{
    color: #47a5b5;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*..............................SERVICES..................................(*/

#services{
   padding: 30px 0; 
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Corrected "mimmax" to "minmax" */
    grid-gap: 40px;
    margin-top: 50px;
}
/*
.services-list > div {
    padding: 20px;
    border: 1px solid #ccc;
}

.services-list h2 {
    margin-bottom: 10px;
}

.services-list p {
    margin-bottom: 15px;
}

.services-list a {
    text-decoration: none;
    color: blue;
} 
    */
    .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    
    .services-list > div {
        padding: 40px;
        border: 1px solid #ccc;
        transition: transform 0.3s ease, background-color 0.3s ease; /* Adding transition for transform and background-color */
        border-radius: 10px;
        font-weight: 300;
        font-size: 13px;
    }
    .services-list > div i{
        font-size : 30px;
        margin-bottom : 20px;
    }
    .services-list > div:hover {
        transform: scale(1.10); /* Adding transformation on hover */
        background-color: #3783a7; /* Light blue color on hover */
    }
    
    .services-list h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
    }
    
    .services-list p {
        margin-bottom: 15px;
        text-decoration: color(from color srgb r g b);
    }
    
    .services-list a {
        text-decoration: none;
        color: blue;
        margin-top: 10px;
        display : inline-block;
        font-size: 15px;
    }


/*...........................PORTFOLIO.........................MYWORK.........*/
.container{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    size: 50px;

}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    overscroll-behavior-x: auto;
    
    border-radius: 10px;
    display: block;
    height: 300px;
    width: 400px; 
    border: 1px solid black;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #2dafc0);
    border-radius: 10px;
    position: absolute;
   left: 0;
   bottom:  0;
   overflow: hidden;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

        
}
.layer h3{
    font-weight: 500;
    margin-top: 20px;
}
.layer a{
    margin-top: 20px;
    color: #00ebfc;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    background: #ffff;
    width:60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
} 

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #47a5b5;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: whitesmoke;
    transition: background 0.5s;
}
.btn:hover{
    background: #3783a7;
    
}

/*.................CONTACT ME ........................ */
.contact-container {
    display: flex;
    flex-direction: row;
}

.contact-left{
    flex-basis: 35%;
    flex-direction: left 35;
    

}
.contact-right{
    flex-basis: 60%;
    margin-left: 50%;
    flex-direction: right 50;
    margin-top: -20%;
    
    
}
.contact-right .me{
    padding-top: 10px;
    position: initial;

}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #3783a7;
    margin-right: 15px;
    font-size:25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #00ebfc;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: royalblue;
    transform: translateY(-5px);

}
.btn.btn2{
    display: inline-block;
    background: #47a5b5;

}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ace3ee;
    padding: 15px;
    margin: 15px 0;
    color: blue;
    font-style: 18px;
    border-radius: 6px;


}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #116291;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: red;
}
#msg{
    color: #ccc;
    margin-top: -40px;
    display: block;
}


/*.........................RESPONSIVE CSS CODE .....................*/
nav .fa-solid{
    display: none;
}
/* For mobile phones: */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .header{
    background-image: url(background2.png);
  }
  .header-text{
    margin-top: 50%;
    font-size: 16px;
  }
  .header-text h1{
    font-size: 30px;
  }
  nav .fa-solid{
    display: block;
    font-size: 25px;
  }
  nav ul{
    background: #00aeff;
    position: fixed;
    top : 0px;
    right : -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;

  }
  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  
  .sub-title{
    font-size: 40px;
  }
  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  .contact-right{
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10vh;
    
  }
  .contact-left{
    margin-left: 10px;
  }
  .copyright{
    font-size: 15px;
  }
  .services.sub-title{
    margin-top: -50px;
  }

  /* You can add more specific styles for smaller screens here */
}















/* For tablets: */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  /* You can add more specific styles for medium-sized screens here */
}

/* For desktops and laptops: */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  /* You can add more specific styles for larger screens here */
}

/* General styles */
/* You can add your general CSS styles here */



